figures/all/D1.pdf
figures/all/D1.png
figures/loose/in_house/D1.pdf
figures/loose/in_house/D1.png
figures/loose/other/D1.png
figures/loose/other/D1.pdf
figures/loose/outside/D1.png
figures/loose/outside/D1.pdf
